@import 'forms_reset'

body
  color: white
  font-family: "times", "times new roman", serif
  font-size: 10px
  padding: 0
  margin: 0
  background: black url('../img/bg.jpg') center center no-repeat

*
  box-sizing: border-box

h1
  background-color: white
  padding: 0.1em
  color: red
  font-size: 10em
  position: absolute
  margin: 0
  left: 50%
  transform: translateX(-50%)

h2
  background-color: white
  padding: 0.1em
  color: blue
  font-size: 6em
  position: absolute
  margin: 0
  right: 5%
  top: 160px
  width: 25%
  text-decoration: underline

h4
  color: black
  position: absolute
  left: 5%
  bottom: 5%
  font-size: 2em
  transform: rotate(-15deg)

  span
    color: white
    text-align: center
    line-height: 2em
    background-color: red
    width: 2em
    height: 2em
    display: inline-block
    border-radius: 50%

  span:nth-child(even)
    background-color: blue
    transform: translateY(-15%)

#image-selector
  height: 800px
  width: 100%
  overflow: hidden
  position: relative

#modal
  height: 648px
  width: 746px
  position: absolute
  top: 10%
  left: 50%
  transform: translateX(-50%)
  background-color: white
  transition: opacity 0.5s 0.3s, transform 0.5s 0.3s, visibility 0s
  background: transparent url('../img/flag.gif') center center no-repeat
  background-size: 150%
  z-index: 5

  &.disabled
    visibility: hidden
    opacity: 0
    transform: translateY(0) translateX(-50%) scale(1.5)

  img
    position: absolute
    height: 100%
    width: 100%
    z-index: 50

.loading-eagle
  background: transparent url('../img/eagle.gif') center center
  height: 222px
  width: 250px
  position: absolute
  animation-timing-function: linear
  animation-name: rotate
  animation-duration: 5s
  animation-iteration-count: infinite
  transform-origin: top left
  top: 50%
  left: 50%
  z-index: 30

.loading-indicator
  position: absolute
  top: 50%
  width: 100%
  text-align: center
  font-size: 8em
  transform: translateY(-2em)
  text-shadow: -2px 5px 0 rgba(0,0,0,0.75)
  z-index: 20

@keyframes rotate
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.dark-overlay
  position: fixed
  height: 100vh
  width: 100vw
  background-color: black
  z-index: 2
  opacity: 0.8
  transform: opacity 0.3s 2s, visibility 0s 0.3s
  visibility: visible

  &.disabled
    opacity: 0
    visibility: hidden

#done
  z-index: 100
  transition-delay: 3s

.file-input
  height: 200px
  width: 200px
  position: absolute
  font-size: 3em
  transform: translateY(-50%), translateX(-50%)
  left: 50%
  border: 12px solid rgba(255,255,255,0.5)
  transition: border-color 0.5s
  border-radius: 50%

  &:hover
    border-color: white

  &.left
    top: 34%
    transform: translateX(-245px)
    background-color: blue

  &.right
    top: 48%
    transform: translateX(-15px)
    background-color: red

  input[type=file]
    position: absolute
    width: 100%
    height: 100%
    cursor: inherit
    display: block
    font-size: 999px
    text-align: right
    cursor: pointer

  label
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 80%
    margin: 0 10%
    text-align: center

.cta
  text-decoration: none
  display: block
  background: blue url('../img/flag.gif') center center
  line-height: 1em
  padding: 0.5em
  color: white
  font-weight: bold
  text-shadow: -2px 5px 0 rgba(0,0,0,0.5)
  font-size: 4em
  border-radius: 2em
  cursor: pointer
  font-family: "times", "times new roman", serif
  left: 50%
  position: absolute
  top: 70%
  transform: translateX(-50%) scale(1)
  border: 12px solid white
  transition: opacity 1s 0.3s, transform 1s 0.3s, visibility 0s

  &.disabled
    visibility: hidden
    opacity: 0
    transform: translateY(200px) translateX(-50%) scale(1.5)

.image-indicator
  position: absolute
  width: 160px
  height: 240px
  left: 50%
  opacity: 1

  img
    position: absolute
    left: 100%
    height: 100%
    width: 100%
    top: 0
    left: 0

  &::after
    display: block
    height: 50px
    width: 100%
    position: absolute
    content: ""
    background-color: black
    top: 100%
    transform: skewX(-20deg) translateX(-9px)
    opacity: 0.4
    background: linear-gradient(to bottom, rgba(0,0,100,1) 0%, rgba(19,19,19,0) 100%)

  &.left
    top: 28%
    transform: rotateZ(12deg) rotateX(0deg) rotateY(0deg) translateX(-230px)

  &.right
    top: 35%
    transform: rotateZ(12deg) rotateX(0deg) rotateY(0deg) translateX(20px)

@media screen and (max-width: 1020px)
  body
    background-size: 1200px
    background-position: center -40px

  #image-selector
    height: 700px

  h1
    white-space: nowrap
    font-size: 5em
    width: auto
    left: auto
    text-align: center
    left: 50%

  h2
    font-size: 3em
    width: 60%
    left: 20%
    top: 3em
    text-align: center

  h4
    display: none

  .file-input
    height: 130px
    width: 130px
    font-size: 2.2em

    &.left
      top: 38%
      transform: translateX(-160px)

    &.right
      top: 50%
      transform: translateX(-5px)

  .image-indicator
    position: absolute
    width: 100px
    height: 140px
    left: 50%
    opacity: 1

    &.left
      top: 32%
      transform: rotateZ(12deg) rotateX(0deg) rotateY(0deg) translateX(-130px)

    &.right
      top: 40%
      transform: rotateZ(12deg) rotateX(0deg) rotateY(0deg) translateX(20px)

  .cta
    top: 60%
    font-size: 3em
    width: 6em

@media screen and (max-width: 800px)

  #modal
    width: 95%
    overflow: hidden
    height: 0
    padding-bottom: 82%

    .loading-indicator
      font-size: 6em
